@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LabTestPortal.com, LLC.</h1>
    <p class="lead">Providing solutions in Software Development, Direct to Consumer Testing and CLIA Waived testing</p>
</div>

<div>
        <h3>@Html.ActionLink("List of Persons.", "Index", "People")</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>STRATUS-DX Laboratory Information System</h2>
        <p>
        A Cloud based LIS revolutionizing how laboratories deliver services. STRATUS-DX is an affordable laboratory 
        information system that requires no maintenance, decreasing the cost of ownership. A full suite of comprehensive 
        tools to manage samples through the pre-analytic, analytic and post-analytic phases of testing. Utilize the 
        management and billing reports along with sales tracking reports for reference labs.
        </p>       
    </div>
    <div class="col-md-4">
        <h2>Direct to Consumer Lab Testing
        </h2>
        <p>
        Direct to consumer lab testing services provided in all 50 states. Save money by directly going directly to the 
        lab to get your lab testing needs fullfilled. Review your lab test results online through a secure personal portal. 
        Testing ranges from general health wellness to preventative health and nutritional testing. No doctors visit is 
        needed with over 2,500 draw locations covering all of North America.
        </p>       
    </div>
    <div class="col-md-4">
        <h2>DrugTestportal.com</h2>
        <p>
        CLIA Waived drug testing for both Urine an Saliva. Drug testing that can be delivered rapidly and reliably .>99% 
        correlation to GC/MS at 95% confidence level. With over 15 Drug combinations to choose from.
        </p>    
    </div>
</div>